.banner {
  background-image:url("/images/deforestationbanner.webp");
}

div.videoforrest {
  max-width: 600px;
  margin: auto;
}

div.nzthenvsnow {
  max-width: 600px;
  margin: auto;
}

div.nzthenvsnow > img{
width:100%;
}

div.div6 img {
width: 30%;
}



iframe {
  border: none;
  width: 100%;
  height: 400px;
}

