.banner {
  background-image:url("images/nativebanner.jpg");
}

div.nativebirdimg {
  max-width:500px;
  margin: auto;
}

div.nativebirdimg > img {
  width: 100%;
}


div.Gallery {
  display: block;
  max-width:500px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

div.Gallery > img {
  max-width: 100%;
  height: 100%;
  margin: auto;
}
